name: Build Docker image

on:
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Set up CD
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  submodules: true
            - name: Set up Docker Qemu
              uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
            - name: Build and push
              uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6.19.1
              with:
                  context: .
                  file: ./Dockerfile
                  platforms: linux/amd64
                  push: false
